@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";



/* Reset */

	

#header .logo {
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  height: inherit;
  left: 10px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  font-size: 1em;
}

#header a {
transition: color 0.2s ease-in-out;
display: inline-block;
padding: 0 0.75em;
color: inherit;
text-decoration: none;
font-size: 1em;
}

#banner {
padding: 4em 0 9em 0;
background-image: url(../../images/banner.jpg);
background-size: cover;
background-position: bottom;
background-attachment: fixed;
background-repeat: no-repeat;
text-align: center;
position: relative;
}

#banner:before {
content: '';
background: rgba(75, 75, 93, 0.85);
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
}

#banner .inner {
border-top: 2px solid rgba(255, 255, 255, 0.2);
position: relative;
z-index: 10005;
padding-top: 8em;
}

#banner p {
font-size: 1em;
color: rgba(255, 255, 255, 0.55);
margin-bottom: 1.75em;
}

#banner h1 {
font-size: 3.5em;
font-weight: 400;
color: #fff;
line-height: 1em;
margin: 0 0 1em 0;
padding: 0;
}

#banner h3 {
font-weight: 400;
color: #fff;
margin: 0;
font-size: 1.5em;
}

#banner .icon {
color: #6cc091;
font-size: 2em;
}

#banner p {
font-size: 1em;
color: rgba(255, 255, 255, 0.55);
margin-bottom: 1.75em;
}

#banner .flex {
justify-content: center;
text-align: center;
margin: 0 auto 4em auto;
}

#banner .flex div {
border-right: 2px solid rgba(255, 255, 255, 0.2);
padding: 0 8em;
}

#banner .flex div:last-child {
border-right: none;
}